html {
  background: linear-gradient(to top, #94b49f, #b4cfb0, white);
  width: 100%;
  height: 100%;
}

ol {
  background-color: aliceblue;
  border-radius: 2%;
}

.container {
  border-color: red;
  margin: 50px, auto;
  text-align: center;
}

#checklist {
  /* background-color: green;
  text-decoration: line-through; */
  background-color: #34c759;
  color: white;
}

.checkTwo {
  background-color: green;
  text-decoration: line-through;
}

.inner-container {
  display: flex;
  justify-content: space-evenly;
  padding-top: 5%;
}

/* li:marker {
  /* display: flex; */
/* align-items: center; */
/* justify-content: space-evenly; */

/* h1 {
  margin: 50px, auto;
} */
